<!doctype html>
<html>
<head>
  <title><%= appName %></title>
  <!-- Server side css includes, defined in bower.json afkl section -->
  <%= inject.fromUrl.css %>

  <!-- Bower css includes -->
  <%= inject.bower.css %>

  <!-- Project css includes -->
  <%= inject.app.css %>

</head>
<body>
  <div id="<%= angular.bootstrapElement %>">
  </div>

  <!-- Server side js includes, defined in bower.json afkl section -->
  <%= inject.fromUrl.js %>

  <!-- Bower js includes -->
  <%= inject.bower.js %>

  <!-- Project js includes -->
  <%= inject.app.js %>

  <!-- Config and run configuration -->
  <%= inject.app.jsConfigAndRun %>

  <!-- Bootstrap script -->
  <%= inject.app.jsBootstrap %>
</body>
</html>
